<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceEUCases" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://techno.eucases.eu/CrawlerService/ServiceEUCases.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEUCases"
                contract="ServiceEUCases.IServiceEUCases" name="BasicHttpBinding_IServiceEUCases" />
        </client>
    </system.serviceModel>
</configuration>